--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.1+cu117
torchvision==0.15.2+cu117
transformers[torch]
torchmetrics
scikit-learn
wandb
pandas
requests
numpy~=1.24.3
numpy_indexed
tqdm==4.65.0
sentence_transformers
datasets
pygit2
pyyaml
