--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.1+cu117
torchvision==0.15.2+cu117

# important that it's ~=4.33 version due to dict hash bug in transformers >= 4.34
# when instantiating GenerationConfig from pretrained for some models
# see https://github.com/huggingface/transformers/issues/26950
transformers[torch]~=4.33.1
wandb~=0.15.2
pandas~=2.1.2
requests
numpy~=1.24.3
tqdm
datasets~=2.14.6
pygit2
pyyaml
cytoolz
gdown
yaspin
